# git ignore file

# User-specific files
*.suo
*.user

# Build results
[Dd]ebug/
[Rr]elease/
[Oo]bj/
*.pdb
UIShell.WeChatShell/bin/UIShell.WeChatShell.dll
UIShell.WeChatShell/Plugins/UIShell.ExtensionProviderService/bin/UIShell.ExtensionProviderService.dll
UIShell.WeChatShell/Plugins/UIShell.iOpenWorksHelpPlugin/bin/UIShell.iOpenWorksHelpPlugin.dll
UIShell.WeChatShell/Plugins/UIShell.WeChatProxyPlugin/bin/UIShell.WeChatProxyPlugin.dll

#OSGi.NET files
log.txt
persistent.xml
UpdateRecord.xml
*.dll.backup
repository/

