<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeiXinPost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WeiXinPost.Properties.Settings>
            <setting name="LastText" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVoice" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPic" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPositionX" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPositionY" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFromName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastToName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMenu" serializeAs="String">
                <value />
            </setting>
        </WeiXinPost.Properties.Settings>
    </userSettings>
</configuration>